.video-section-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 0 60px;

  video {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
}

.video-section-wrapper {
  width: 100%;
  background-color: $default-bg;
}

.bg-dark {
  background-color: #277645 !important;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-wrapper {
  width: 33%;
  // height: auto;
}

.about-us-container {
  margin-top: 40px 0 20px;
  text-align: center;
  
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .about-us-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
  }
}

.video-desc-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  .video-desc {
    color: #edf3a4;
  }

  .video-desc-details,
  .video-desc-image {
    width: 45%;
  }

  .video-desc-image {

    img {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .video-desc-container {
    display: block;
    padding: 0 20px;

    .video-desc-details {
      margin-bottom: 32px;
    }

    .video-desc-details,
    .video-desc-image {
      width: 100%;
    }
  }

}
