.video-section-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 0 60px;

  video {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
}

.video-section-wrapper {
  width: 100%;
  background-color: $default-bg;
}

.bg-dark {
  background-color: #205A41 !important;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-wrapper {
  width: 33%;
  // height: auto;
}

.about-us-container {
  margin-top: 40px 0 20px;
  text-align: center;

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .about-us-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
  }
}

.video-desc-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  .video-desc {
    color: #F1DAB2;
  }

  .video-desc-details,
  .video-desc-image {
    width: 45%;
  }

  .video-desc-image {
    img {
      width: 100%;
    }
  }
}

.contact-ribbon {
  display: flex;
  max-width: 1140px;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;

  .contact-ribbon-message {
    font-size: 20px;
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  .video-desc-container {
    display: block;
    padding: 0 20px;

    .video-desc-details {
      margin-bottom: 32px;
    }

    .video-desc-details,
    .video-desc-image {
      width: 100%;
    }
  }
}

.our-services-container {
  max-width: 1140px;
  padding: 40px 15px;
  margin: 0 auto;

  .services-button {
    display: flex;
    justify-content: space-around;

    button {
      width: 32.5%;
      color: #F1DAB2;
    }
  }

  .services-details-container {
    margin: 60px 0 40px;
  }

  .services-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
    }

    &-desc {
      font-size: 16px;
      font-weight: 500;
    }

    &-image,
    &-info {
      width: 45%;
    }

    img {
      width: 100%;
    }
  }
}

.service-card-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;

  .service-card {
    width: calc(16.66% - 20px);
    // background-color: #F1DAB2;
    margin: 40px 0 40px 20px;

    &-icon {
      width: 60%;
      margin: 0 auto;

      svg {
        width: 100%;
        text-align: center;
      }
    }

    &-name {
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      color: #F1DAB2;
      width: 100%;
    }
  }
}

.work-gallery-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 15px;

  .work-gallery-title {
    margin: 0;
    font-weight: 500;
  }
}

@media (max-width: 900px) {
  .service-card-container {
    .service-card {
      width: calc(25% - 20px);
    }
  }
}

@media (max-width: 600px) {
  .our-services-container {
    .services-details {
      display: block;
      &-image,
    &-info {
      width: 100%;
    }
    }
  }

  .service-card-container {
    .service-card {
      width: calc(33% - 20px);
    }
  }

  .contact-us-message p {
    font-size: 16px;
  }
}

.contact-form-container .btn-contact-form {
  &:hover {
    background-color: #F1DAB2 !important;
    color: #205A41;
  }
}

.footer-container {
  svg {
    &:hover {
      path, circle {
        fill: rgba(237,243,164, 0.8);
      }
    }
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #000, 0 0 70px #F1DAB2, 0 0 80px #F1DAB2, 0 0 100px #F1DAB2, 0 0 150px #F1DAB2;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #F1DAB2, 0 0 35px #F1DAB2, 0 0 40px #F1DAB2, 0 0 50px #F1DAB2, 0 0 75px #F1DAB2;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffc600;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ffc600;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // z-index: 1;
}
.bg-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.image-gallery {
  &-thumbnails {
    img {
      height: 60px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 5px;
}

.navbar .navbar-nav .nav-item .nav-link.active-nav {
  font-weight: 700;
  border-bottom: 2px solid #F1DAB2;
}

.nav-overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: all 0.5s ease-in; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    font-weight: 500;
  }

  a:hover, a:focus {
    color: #f1f1f1;
  }
}

.hide-nav-overlay {
  display: none;
}
