.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 60px;
}

.footer-copyright {
    color: #fff;
    text-align: center;
}

.footer-container svg {
    height: 50px;
    width: 50px;
}

.footer-container svg path {
    fill: #edf3a4;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-container-section {
    padding-left: 10px;
    color: #edf3a4;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-social-section {
    display: flex;
    padding-right: 15px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.footer-social-section a {
    color: #fff;
}

.footer-social-section a:hover,
.footer-social-section a:active {
    color: #edf3a4;
}

.footer-copyright {
    padding: 20px 0;
}

.footer-social-title {
    font-weight: 500;
    color: #edf3a4;
    padding: 0 16px;
    margin: 0;
    font-size: 16px;
}

.powered-by {
    text-align: center;
    background-color: #277645;
    color: #edf3a4;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0;
}
