.contact-us-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0 40px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-us-container p, .contact-us-container a, .contact-us-container span {
    color: #edf3a4 !important;
}

.contact-us-container .contact-form-container .text-danger {
    color: #f5593d  !important;
}

.contact-us-message {
    max-width: 1140px;
    margin: 0 auto;
    padding: 60px 80px 40px;
    text-align: center;
}

.contact-us-message p {
    font-size: 18px;
    font-weight: 500;
}

.map-container {
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.video-section-wrapper .contact-us-info {
    display: block;
    text-align: center;
    padding: 40px;
    color: #edf3a4;
}

.video-section-wrapper .contact-us-info p {
    margin: 0;
}

.video-section-wrapper .contact-us-info .contact-ribbon-title {
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 20px;
}

.video-section-wrapper .contact-us-info .contact-ribbon-message {
    font-size: 15px;
}

@media (max-width: 600px) {
    .contact-us-container {
        display: block;
    }
}

.contact-link:hover {
    color: #edf3a4 !important;
    transition: all 0.2s ease-in;
}

.contact-us-container svg {
    width: 30px;
    height: 30px;
}